<%= form_for(@pinning) do |f| %>
  <% if @pinning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pinning.errors.count, "error") %> prohibited this pinning from being saved:</h2>

      <ul>
      <% @pinning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
